* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
}
body {
    background-color: #e7e7e7;
}

/* Slinder */
.container {
    max-width: 1100px;
    margin: 80px auto;
    position: relative;
    position: relative;
    
}
.item{
    width: 100%;
    height: 600px;
    display: none;
    
}
.item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-title {
    position: absolute;
    top: 0;
    right: 0;
    text-align:right;
    color: white;
}
.active {
    display: block;
}

/* Thumbs */
.thumbs {
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
}
.thumb {
    width: calc(100% / 5);
    height: 150px;
    overflow: hidden;
}

.thumb > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}
.thumb > img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.active-thumb {
    border: 5px solid rgb(221, 221, 221);
    position: relative;
}

.prev {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 2.5rem;
}
.next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 2.5rem;
}
.next:hover .fa-solid,
.prev:hover .fa-solid {
    cursor: pointer;
    transform: scale(1.1);
}






